<div id="age"  class="notShow report-single-section">
    <div class="panel panel-primary" data-ng-controller="reportsCtrl">
        <div class="panel-heading">Age Report</div>

        <kendo-grid options="agesrGrid">

        </kendo-grid>
    </div>
</div>
