    
<div id="average" class="notShow report-single-section">
    <div class="panel panel-primary" data-ng-controller="reportsCtrl">
        <div class="panel-heading">Average Working years Report</div>
        <kendo-grid options="avwyGrid">
            <div class="col-sm-2">
                <p>Average:  {{avg0[0]}}</p>
            </div>
           
        </kendo-grid>
    </div>
</div>

