    
<div id="average" class="notShow report-single-section">
    <div class="panel panel-primary" data-ng-controller="reportsCtrl">
        <div class="panel-heading">Average Working years Report</div>
        <div id="avwyGrid">
            <div class="col-sm-2">
                <p>Average: {{avg0[0]}}</p>
            </div>

        </div>

        <script type="text/x-kendo-template" id="monthRangeFilter">
            <div id="montRangehDropDown">
                <input type="search" id="monthRange" style="width: 120px" />
            </div>
        </script>
    </div>
</div>

