<div id="demo" class="notShow report-single-section">
    <div  class="panel panel-primary" data-ng-controller="reportsCtrl">
        <div class="panel-heading">Demographic Report</div>
        <kendo-grid options="mainGridOptions">

        </kendo-grid>
    </div>
</div>
