<div id="license" class="notShow report-single-section">
    <div class="panel panel-primary" data-ng-controller="reportsCtrl">
        <div class="panel-heading">Expiration Dates Report</div>

        <kendo-grid options="edGrid">

        </kendo-grid>
    </div>
</div>
