<div id="ms" class="notShow report-single-section">
    <div class="panel panel-primary" data-ng-controller="reportsCtrl">
        <div class="panel-heading">Marital Status Report</div>

        <div id="msGrid"></div>

        <script type="text/x-kendo-template" id="MaritalStatusFilter">
            <div id="MaritalStatusDropDown">
                <input type="search" id="maritalStatus" style="width: 120px" />
            </div>
        </script>
    </div>
</div>
