<div id="ms" class="notShow report-single-section">
    <div class="panel panel-primary" data-ng-controller="reportsCtrl">
        <div class="panel-heading">Marital Status Report</div>

        <kendo-grid options="msGrid">

        </kendo-grid>
    </div>
</div>
