<!--Login form-->
<section id="home" class="">
    <div class="intro">
        <div class="start"></div>
        <div class="logo">
            <img src="~/Images/logo.svg" />
        </div>
        <div class="loginContainer">
            <login-form id="testLogin"></login-form>
        </div>
    </div>
    <a id="testpull" href="#profile" ng-hide="showHideContent">
        <div class="scroll-down">
            <span>
                <i class="fa fa-angle-down fa-2x"></i>
            </span>
        </div>
    </a>
</section>