*.dll
*.cache
*.pdb
*.cd
*.suo
*.sln
packages/
obj/
bin/
Debug/
Release/
.gitattributes
.vs/config/applicationhost.config
HRProx/ApplicationInsights.config
HRProx/HRProx.csproj
HRProx/packages.config
HRProx/Properties/AssemblyInfo.cs
HRProx/scripts/ai.0.22.9-build00167.js
HRProx/scripts/ai.0.22.9-build00167.min.js
HRProx/Web.config
HRProx/Web.Debug.config
HRProx/Web.Release.config
Proximity.HR/.vs/config/applicationhost.config
